/* Los estilos de tu proyecto */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'raleway';
}
/* estilos navbar */
.menu{
  text-decoration: none;
  background-color: #fff;
  border: #fff;
}
img{
  width: 85%;
  height: auto;
}
/*estilos de la primera seccion*/
.image-tx{
  background-image: url('../assets/images/taxi.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction:column-reverse;
  justify-content: space-around;
  align-items: flex-end;
  height: 60vh;
  width: 100%;
}
.bg{
  background-color: #f7b617;
  margin-right: 0;
  padding: 40px;
}
.wd-img{
  width: 30%;
  height: auto;
  display: inline-block;
}
.white{
  color:#fff;
  font-size:20px;
  font-weight: bold;
}
.buttn{
  color:#000;
  background-color: #fff;
}
@media (min-width: 768px) {
  .image-tx {
    background-image: url('../assets/images/taxi.jpg');
    height: 50vh;
  }
}

@media (min-width: 992px) {
 .image-tx {
    background-image: url('../assets/images/taxi.jpg');
    width: 100vw;
    height: 100vh;
    background-size: auto;
  }
}
/*segunda seccion*/
 .bg-two{
  background-color: #f7b617;
  width: 100vw;
  padding-top: 30px;
}
.border{
  border: 2px solid #fff;
  background-color:#f7b617;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.center{
  display: flex;
  justify-content: space-around;
  align-items:center;
}
.p-1s{
  display: flex;
  justify-content: space-around;
  align-items:center;
  color: #fff;
  font-size:16px;
  font-weight: bold;
  padding: 5px;
}
.pding-t{
  padding-top: 20px;
}
